.WEBSTUDIO {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-left: 156px;
    margin-top: 24px;
}

.Studio {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-left: 347px;
    margin-bottom: 0px;
}

.WEBSTUDIO {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: iris;
}


.Studio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-left: 347px;
}

.Portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.Contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}



.h1 {

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-top: 188px;
    border: 5px solid #000;
    margin-left: 472px;
    margin-right: 472px;

}

.button {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    margin-left: 670px;
    margin-top: 48px;
    background-color: aqua;

}


.h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);


}

address li .com {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


address li .Number {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.strategy {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.punctuality {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.diligence {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.technologies {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.strategy-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.punctuality-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.diligence-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.technologies-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.p1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}


.Web {
    padding: auto;
    border: 5px solid #000;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    margin-bottom: 188px;

}

.img {

    margin-left: 156px;
}



li {
    display: inline;
}