body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

.web{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}

.spa{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#2e2f42;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cla{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.cla:hover{
    color: #404bbf;
}

.cla:focus{
    color: #404bbf;
}



.add{
    font-style: normal;
}

.com{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.com:hover{
    color: #404bbf;
}

.com:focus{
    color: #404bbf;
}

.num{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.num:hover{
    color: #404bbf;
}

.num:focus{
    color: #404bbf;
}

button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}